@model Product_Feedback_App.Models.View.FeedbackViewViewModel
@{

}

<div class="feeedbackViewContainer">

    @if (Model != null)
    {
        <div class="feedback">
            <div class="feedbackLHS">
                @if (Model.UserHasUpvoted)
                {
                    <div class="feedbackUpvotes upvoted" id="@Model.Feedback.Id">@Model.Feedback.Upvotes.Count</div>
                }
                else
                {
                    <div class="feedbackUpvotes" id="@Model.Feedback.Id">@Model.Feedback.Upvotes.Count</div>
                }
                <div class="feedbackTextContainer">
                    <p class="feedbackTitle">@Model.Feedback.Title</p>
                    <p class="feedbackDetails">@Model.Feedback.Details</p>
                </div>
                <div class="category">@Model.Feedback.Category.ToString()</div>
            </div>
            <div class="feedbackRHS">
                <img src="/images/icons/comment.svg" class="comment" />
                <p>@Model.Feedback.Comments.Count</p>
            </div>
        </div>
    }
    else
    {
        <p>Feedback Not Found!</p>
    }

    
</div>
